/* Buttons layout */

#opening-buttons {
    display: flex;
    justify-content: center;
}

#button-play {
    margin-left: 5%;
    margin-right: 5%;
}
.opening-selector {
    height: 50px;
}

.btn {
    margin-bottom: 5%;
    margin-top: 0%;
}


/* Stats layout */

.stats-div-opening{
    padding-bottom: 3%;
    padding-top: 0%;
}
/* Buttons Colors */ 

/* Openings */
.btn.btn-primary.opening {
    background:#ab5555;
    color: #fff;
    border: none !important;
    border: 2px solid transparent !important;
    width: 100%;
}

.btn.btn-primary.opening:hover{
    box-shadow: none;
    background: #eeabaa;
}

.btn.btn-primary.opening:active, .btn.btn-primary.opening:focus {
    background: #ab5555 !important;
    color: #fff;
    outline: none !important;
}

.btn.opening:hover {
    background: #eeabaa !important;
    color: #fff;
    outline: none !important;
}

.btn.opening:active, .btn.opening:focus {
    background: #ab5555 !important;
    color: #fff;
    outline: none !important;
}

/* Tutorial */
.btn.btn-primary.tutorial {
    background:#018fba;
    color: #fff;
    border: none !important;
    border: 2px solid transparent !important;
}

.btn.btn-primary.tutorial:hover, .btn.btn-primary.tutorial:active, .btn.btn-primary.tutorial:focus {
    box-shadow: none;
    background: #b1ecfe;
}

.btn.tutorial:hover, .btn.tutorial:active, .btn.tutorial:focus {
    background: #018fba !important;
    color: #fff;
    outline: none !important;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Axes color CSS */

.axisWhite line{
    stroke: white;
  }
  
  .axisWhite path{
    stroke: white;
  }
  
  .axisWhite text{
    fill: white;
  }

  .axisBlack line{
    stroke: black;
  }
  
  .axisBlack path{
    stroke: black;
  }
  
  .axisBlack text{
    fill: black;
  }
  

  /* heatmap On/Off Switch CSS  */
  .onoffswitch {
      position: relative; width: 144px;
      -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  }
  .onoffswitch-checkbox {
      position: absolute;
      opacity: 0;
      pointer-events: none;
  }
  .onoffswitch-label {
      display: block; overflow: hidden; cursor: pointer;
      border: 2px solid #999999; border-radius: 20px;
  }
  .onoffswitch-inner {
      display: block; width: 200%; margin-left: -100%;
      transition: margin 0.3s ease-in 0s;
  }
  .onoffswitch-inner:before, .onoffswitch-inner:after {
      display: block; float: left; width: 50%; height: 36px; padding: 0; line-height: 36px;
      font-size: 20px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
      box-sizing: border-box;
  }
  .onoffswitch-inner:before {
      content: "Heatmap";
      padding-left: 10px;
      background-color: #DFE318; color: #21918C;
  }
  .onoffswitch-inner:after {
      content: "Flow";
      padding-right: 10px;
      background-color: #00BCD4; color: #FFFFFF;
      text-align: right;
  }
  .onoffswitch-switch {
      display: block; width: 28px; margin: 4px;
      background: #FFFFFF;
      position: absolute; top: 0; bottom: 0;
      right: 104px;
      border: 2px solid #999999; border-radius: 20px;
      transition: all 0.3s ease-in 0s;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
      margin-left: 0;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
      right: 0px;
  }