.header {
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-items: center;
}
.container {
  grid-column-start: 2;
}
.block {
  display: block;
}

.axisWhite line{
  stroke: white;
}

.axisWhite path{
  stroke: white;
}

.axisWhite text{
  fill: white;
}

.button {
  background-color: #333333;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


h1 {
  font-size: 2.5vw;
}

h3 {
  font-size: 1vw;
}

p {
  font-size: 0.8vw;
}

* {
  color: white;
  background-color: #333333;
}
